<% include layouts/header %>
<h2>All Mens product</h2>
<%- messages('message', locals) %>
<hr><br>
<div class="row"><a href="/admin/users/api/mens/addItem" class="col s12 btn">add mens items</a></div>
<br>
<div class="row">
    <div class="section">
        <form action="/admin/users/api/mens/view/filter" method="POST" class="row">
            <select class="col l6 m6 s6" name="itemCatogery" required>
                <option value="T-Shirt">T Shirt</option>
                <option value="Sleeveless">Sleeveless</option>
                <option value="Shirt">Shirt</option>
                <option value="Sweaters">Sweaters & Swetshirt</option>
                <option value="Jackets">Jackets</option>
                <option value="Coatas">Coatas</option>
                <option value="Hoodies">Hoodies</option>
                <option value="Kurtas">Kurtas</option>
                <option value="Sherwanis">Sherwanis</option>
                <option value="fabric">fabric</option>
                <option value="Jeans">Jeans</option>
                <option value="Pants">Pants</option>
                <option value="Trousers">Trousers</option>
                <option value="Shorts">Shorts</option>
                <option value="Track">Track Paints</option>
                <option value="Joggers">Joggers</option>
                <option value="Dhoti">Dhoti</option>
                <option value="Briefs">Briefs</option>
                <option value="Trunks">Trunks</option>
                <option value="Vests">Vests</option>
                <option value="Boxers">Boxers</option>
                <option value="Sleepwear">Sleepwear</option>
            </select>
            <a href="/admin/users/api/mens/view" class="btn left">All</a>
            <button type="submit" class=" right btn red col l4 m4 s4">Fiter</button>
        </form>
    </div>
</div>
<div class="flex-wrap">
    <% data.forEach(da=>{%>
        <div class="small-cart">
                <div>
                    <a class="btn-small blue" href="/admin/users/api/mens/edit/<%=da._id%>">EDIT</a>
                    <button data-id="<%=da._id%>" class="btn-small red right delete-item">DELETE</button>
                    <sub>by:<%=da.author%></sub>
                </div>
                <div><h6>Name:<%=da.name%></h6></div>
                <div>id:<%=da._id%></div>
                <div colspan="2">
                    <% da.colorValue.forEach(shit=>{%>
                        <%=shit%>  |
                    <%}) %>
                </div>
                <div colspan="2">
                    <% da.itemSize.forEach(shit=>{%>
                        <%= shit %>  |
                    <%}) %>
                </div>
                <div colspan="2">
                    <% da.img.forEach(damn=>{%>
                        <img src="<%=damn%>" alt="">
                    <%}) %>
                </div>
                <div>
                    img name:
                    <ul>
                    <% da.img.forEach(damn=>{%>
                        <li><%=damn%></li>
                    <%}) %></ul>
                </div>
                <div>merchentName:<%=da.merchentName%></div>
                <div>merchentUrl:<%=da.merchentUrl%></div>
                <div>item catogeary: <%=da.itemCatogery%></div>
                <div>merketPrice: <%=da.marketPrice%></div>
                <div>ourPrice:<%=da.ourPrice%></div>
                <div>discount:<%=da.discount%></div>
                <div>description: <%= da.description%></div>
        </div>
    <%}) %>
</div>

<% include layouts/footer %>
